<!DOCTYPE html>
<html>
    <head>
        <title>Web-App</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
    
    
    
    </head>
    <body background='background1.jpg'>
        <div id="nearme">
            <div id="searchbox">
                <form action='/login' method='post'>
                    <input type="submit" value="Go" id='go'>
                    <input type="text" name="search" id="search">
                </form>
            </div>
            {{testvar}}
        </div>

        <script src="myjs.js"></script>
    </body>



</html>